/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
/* light theme */
:root {
	/* startje */
	--color-text: #111;
	--color-text-heading: white;
	--color-background: #eee;
	--color-donkerblauw: #033F73;
	--color-active: #0092D8;
	--color-border: grey;
	--color-tabel-achtergrondHeading: #E6E6E6;
	--color-tabel-achtergrondDonker: #E6E6E6;
	--color-tabel-achtergrondLicht: #F9F9F9;
	--color-focus:#9DBF21;
}

/* dark theme */
@media (prefers-color-scheme: dark){
	:root {
		--color-text: beige;
		--color-text-heading: beige;
		--color-background: black;
		--color-donkerblauw: #033F73;
		--color-active: #0092D8;
		--color-border: grey;
		--color-tabel-achtergrondHeading: #2a2626;
		--color-tabel-achtergrondDonker: #212020;
		--color-tabel-achtergrondLicht: #2d2a2a;
		--color-focus:#9DBF21;
	}
}

/* Standaard opmaak voor elementen */
body {
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text-heading);
	font-family: Arial, Helvetica, sans-serif;

}

header {
	width: 100%;
	position: sticky;
	top:0;
	Z-index: 1;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	font-size: 0, 6em;
	color: var(--color-text);
}

h2 {
	font-size: 1em;
}

h3{
	color:var(--color-text)
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

img {
	width: 100%;
}

:focus{
	border-color: var(--color-focus);
	border-style: solid;
	border-width: 0.5em;
	outline: var(--color-focus);
}
li:focus{
	border-color: var(--color-focus);
	border-style: solid;
	border-width: 0.5em;
	outline: var(--color-focus);
}

/* Om element zichtbaar te houden voor screenreader. Maar niet visueel in beeld */
/*  Bron: https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


/* Carousel header: 

Opmaak en positioneren buttons*/
header section:first-of-type {
	position: relative;
	padding: 0;

}

/* Opmaak button in header */
header section:first-of-type button {
	position: absolute;
	appearance: none;
	border: none;
	background-color: transparent;
}

/* Button header links */
header section:first-of-type button:first-of-type {
	left: 0;
	top: 50%;
	transform: translateX(1em) rotate(0deg);
}

/* Button header rechts */
header section:first-of-type button:nth-of-type(2) {
	right: 0;
	top: 50%;
	transform: translateX(-1em) rotate(180deg);
}

/* Opmaak pijltje in div */
/* bron sanne: https://codepen.io/shooft/pen/poVWpQQ*/
header section:first-of-type button div {
	width: 1.5em;
	height: 1.5em;
	box-shadow: inset .25em -.25em 0 white;
	transform: translateX(.25em) rotate(45deg);
}

/* Eerste button nav carousel */
header section:first-of-type button:nth-of-type(3) {
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border: solid;
	border-color: white;
	background-color: lightgray;
	top: 90%;
	left: 44%
}

/* Tweede button nav carousel */
header section:first-of-type button:nth-of-type(4) {
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border: solid;
	border-color: white;
	background-color:lightgrey;
	top: 90%;
	left: 48%;
}

/* Derde button nav carousel */
header section:first-of-type button:nth-of-type(5) {
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border: solid;
	border-color: white;
	background-color: lightgray;
	top: 90%;
	left: 52%
}

/* Vierde button nav carousel */
header section:first-of-type button:nth-of-type(6) {
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border: solid;
	border-color: white;
	background-color: lightgray;
	top: 90%;
	left: 56%
}

/* Carousel header: 
opmaak foto's en overflow */
header > section:first-of-type > ul {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
	list-style: none;
	margin: 0;
	padding-left: 0;

}

/* Scroll bar verbergen */
/* https://codepen.io/shooft/pen/abmLRMg */
header section ul::-webkit-scrollbar {
	display: none;
}

/* Om te zorgen dat foto's altijd volledig op de pagina staan */
header > section:first-of-type > ul > li {
	/*als flex kind*/
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: center;


	/*als flex parent*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

/* Grootte van de afbeelding in de carousel */
header > section:first-of-type > ul > li > img {
	width: 100%;
}


/* Header navigatiebalk: Bron: https://codepen.io/shooft/pen/jOzvRvm

positie logo en navigatie*/
header section:nth-of-type(2) {
	min-height: 4em;
	padding: 0 1em;
	background-color: var(--color-donkerblauw);
	line-height: 1;
	margin-top: 0;

	/*Als flex parent*/
	display: flex;
	align-items: center;
	justify-content: space-between;

}

/* Opmaak alle links in de header */
header section:nth-of-type(2) nav a {
	color: var(--color-text-heading);
	text-decoration: none;
}

/* Grootte logo */
header section:nth-of-type(2) > a:first-of-type img {
	min-width: 3em;
	min-height: 3em;
}

/* Hamburger Menu grootte */
header section:nth-of-type(2) > a:last-of-type img {
	width: auto;
	height: 2em;
}


/* Navigatie menu positie*/
header section:nth-of-type(2) nav {
	order: 2;

}

/* Opmaak element nav wanneer actief. Werkt nog niet */
header > section:nth-of-type(2) > li:active{
	background-color: #0092D8;
	font-weight: 700;
}

/* Opmaak van de buttons in de navigatie en positie */
header section:nth-of-type(2) nav button {
	appearance: none;
	background-color: transparent;
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--color-text-heading);
	z-index: 100;
	position: relative;
}

/* Om te zorgen dat de list items naast elkaar komen te staan. Dus de buttons in de nav */
header section:nth-of-type(2) nav > ul {
	display: flex;
	margin: 0;
	padding: 4em 1em 2em;
	list-style: none;
	gap: 0, 25em;
	align-items: center;
	flex-direction: column;
	transform: translateX(-100%);
	position: absolute;
	left: 0;
	right: 0;
	background: var(--color-donkerblauw);

}

/* Dropdown menu's verbergen als de dropdown niet open is */
header section:nth-of-type(2) nav ul li ul {
	max-height: 0;
	overflow: hidden;
	position: relative;
	transition: 1s;
	padding-left: 0;
}

/* Opmaak van het dropdown menu wanneer het uitschuift */
header section:nth-of-type(2) nav ul li ul.subMenu {
	background-color: var(--color-donkerblauw);
	max-height: 20em;
	padding: 1em;
	width: 20em;
}

/* Opmaak van de items in het dropdown menu */
header section:nth-of-type(2) nav ul li {
	text-align: left;
	flex-basis: 3em;
	border-top-color: var(--color-active);
	padding: 0.75em
}

/* Opmaak van de items in het dropdown menu als je eroverheen hovert */
header section:nth-of-type(2) nav ul li:hover {
	background-color: var(--color-active);
}

/* Om te zorgen dat het hamburger menu niet zichtbaar is als deze nog niet geopend is */
header section:nth-of-type(2) nav.toonMenu>ul {
	transform: translateX(0%);	
}

/* Om te zorgen dat de list items in de dropdown wat meer ruimte hebben */
header section:nth-of-type(2) nav ul li ul li{
	padding: 2%;
}


/* Een linkje in de navigatie */
header section:nth-of-type(2) nav li button {
	width: 100%;
	border: solid 1px var(--menu-border);
}

header section:nth-of-type(2) nav button.active {
	font-weight: bold;
}


/* styling voor de header als de browser minimaal 71em breed is */

@media (min-width:71em) {
	header{
	position: static;
	}

	/* styling voor de header als de browser minimaal 71em breed is */
	header section:nth-of-type(2){
		position: sticky;
		top:0;
		justify-content: space-between;
	}
	header section:nth-of-type(2) nav {
		order: 0;
	}

	header section:nth-of-type(2) nav > button {
		display: none;
	}

	header section:nth-of-type(2) nav>ul {
		flex-direction: row;
		position: static;
		transform: none;
		padding: 0;
		background: none;
		align-items: center;
		width:90%
		
		
	}

	header section:nth-of-type(2) nav li {
		flex-basis: unset;
		flex-grow: unset;
		gap: 1em;

	}

	header section:nth-of-type(2) nav ul li ul {
		position: absolute;

		transform: translateX(0);
	}

	header section:nth-of-type(2) nav a {
		flex-direction: column;
	}

	/* aanpassing grid bij kleiner dan 71 em */
	main{
	display: grid;
	grid-template-columns: 45em 20em ;
	grid-auto-rows: 10em;
	grid-column-gap: 8%;
	justify-content: center;
	}

	main section:nth-of-type(4) ul{
		display: flex;
		flex-direction: column;
	}
}



/* Eerste sectie (Mededelingen)*/
main > ul:first-of-type {
	/* plaats op main grid bij groot scherm */
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column: 1;
	/*als flex parent*/
	/* Om te zorgen dat de nieuwsberichten onder elkaar komen te staan */
	display: flex;
	max-height: 30em;
	flex-direction: column;
	margin-left: 2em;
	list-style: none;
	padding: 0.5em;

}

main > ul > li {
	margin-bottom: 1em;
	margin-top: 1em;
	max-width: 40em;

}

main > ul > li > a {
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(2, 5.4em);
	column-gap: 1em;
}

main > ul > li > a {
	color: var(--color-text);
	text-decoration: none;
}


main ul li a img {
	/*als flex kind*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	max-width: 8.1em;
	max-height: 8.1em;
}

main > ul > li > a > h3 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

main > ul > li > a > p:first-of-type {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

main > ul > li > a > p:nth-of-type(2) {
	visibility: hidden;
}
main > ul > li > a > p h3 {
	color: var(--color-text);
}


/* alle h2 donkerblauwe achtergrond */
main section > h2{
	background-color: var(--color-donkerblauw);
	padding:0.5em;
	font-size: larger;
}


/*section nieuwsberichten*/
main section:first-of-type{
	/* plaats op main grid bij groot scherm */
	grid-column-start: 1;
	grid-row-start: 4;
	grid-row-end: 12;
}
main section:first-of-type > h2:first-of-type {
	display: block;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 3em;
	margin-left: 1em;
	margin-left: 1em;
}

main > section:first-of-type > ul > li > a {
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(3, 3.7em);
	column-gap: 1em;
	padding-bottom: 2em;
	border-bottom: solid;
	border-color: var(--color-border);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom */

}
main > section:first-of-type > ul > li > a:focus{
	border-color: var(--color-focus);
}

main > section:first-of-type > ul > li > a > img {
	/*als flex kind*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	max-width: 8.1em;
	max-height: 8.1em;
	padding-top: 0.8em;
}

main > section:first-of-type > ul > li > a > h3 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

main > section:first-of-type > ul > li > a > p:first-of-type {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

main > section:first-of-type > ul > li > a > p:nth-of-type(2) {
	visibility: hidden;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}
/*section wedstrijdverslagen*/
main section:nth-of-type(2){
	/* plaats op main grid bij groot scherm */
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 12;
	grid-row-end: 16;

	
}
main section:nth-of-type(2) ul a{
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(3, 3.7em);
	column-gap: 1em;
	border-bottom: solid;
	border-color: var(--color-border);
}
main section:nth-of-type(2) ul a h3{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}
main section:nth-of-type(2) p:first-of-type{
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}
main section:nth-of-type(2) p:nth-of-type(2) {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
	margin-right: 1.5em;
	padding-bottom: 2em;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
}

/* naar volgende pagina buttons*/
main section section {
	display: flex;
	justify-content: center;
	align-items: center;
}

main section section p {
	color: var(--color-text);
	margin-right: 1em;
}
main section section button{
	display: flex;
	background-color: var(--color-donkerblauw);
	padding:.75em;
	padding-right:1.25em;
	border-radius: .25em;
}
main section section button div{
	width: 1.0em;
	height: 1.0em;
	box-shadow: inset .25em -.25em 0 white;
	rotate: -135deg;
	
}

/*corona maatregelen*/
main section:nth-of-type(3) {
	background-color: var(--color-donkerblauw);
	margin-top: 5%;
	/* plaats op main grid bij groot scherm */
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 16;
	grid-row-end: 20;
}

main section:nth-of-type(3) a {
	text-decoration: none;
	color: var(--color-text-heading);
	padding: 5px;
	flex-direction: column;
	align-items: center;
	display: flex;
}

main section:nth-of-type(3) a h3 {
	color: var(--color-text-heading);
	text-align: center;
}

main section:nth-of-type(3) img {
	max-width: 100%;
	order: -2;
}

/*sponsoren*/
main section:nth-of-type(4) {
	background-color: var(--color-donkerblauw);
	margin-top: 5%;
	/* plaats op main grid grootscherm*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 21;
	grid-row-end: 23;
}
main section:nth-of-type(4) ul{
	max-width: 100%;
	display: flex;
	overflow-x: auto;
	overscroll-behavior: contain;
	flex-direction: row;
	margin-top: 5%;
}
main section:nth-of-type(4) ul li{
	padding:1em;
}

/*lid worden*/
main > a:first-of-type > h2 {
	color: var(--color-text-heading);
	background-color: var(--color-donkerblauw);
	text-align: center;
	font-size: larger;
	padding: 3%;
	width: 100%;
	margin-right: 5%;
	/* plaats op main grid grootscherm*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

/* Eerst volgende wedstrijd */
main section:nth-of-type(5) {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* plaats op main grid grootscherm*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 6;
	background-color: var(--color-tabel-achtergrondLicht);
	border-style: solid;
	border-color: var(--color-border);
}

main section:nth-of-type(5) h2 {
	order: 1;
	background-color: var(--color-donkerblauw);
	display: block;
	margin: 0;
}

main section:nth-of-type(5) p {
	color: var(--color-text);
	width: 100%;
	height: 100%;
	margin: 0;
	padding:1em;
	background-color: var(--color-tabel-achtergrondLicht);
}

/* Positie kopje volgende wedstrijd */
main section:nth-of-type(5) > p:first-of-type {
	order: 2;
}

/* Positie kopje competitie*/
main section:nth-of-type(5) > p:nth-of-type(2) {
	order: 3;
}

/* Opmaak en positie naam team 2 */
main section:nth-of-type(5) > p:nth-of-type(3) {
	order: 5;
	background-color: var(--color-tabel-achtergrondDonker);
}

/* Opmaak en positie VS */
main section:nth-of-type(5) > p:nth-of-type(4) {
	order: 6;
	background-color: var(--color-tabel-achtergrondDonker);
}

/* Opmaak en positie naam team 2 */
main section:nth-of-type(5) > p:nth-of-type(5) {
	order: 7;
	background-color: var(--color-tabel-achtergrondDonker);
	
}
/* Opmaak en positie datum */
main section:nth-of-type(5) > p:nth-of-type(6) {
	order: 9;
	border-top: solid;
	border-color: var(--color-border);

}

/* Opmaak en positie locatie */
main section:nth-of-type(5) > p:nth-of-type(7) {
	order: 10;
	border-bottom: solid;
	border-color: var(--color-border);
}

/* Grootte en positie afbeelding tegenstander */
main section:nth-of-type(5) img:first-of-type {
	order: 4;
	width:10%;
	margin: 0.5em;
}

/* Grootte en positie afbeelding de Vinken */
main section:nth-of-type(5) img:nth-of-type(2) {
	order: 8;
	width:10%;
	margin: 0.5em;
}

/* Grid om aftelklok juist weer te geven + positie aftelklok */
main section:nth-of-type(5) section {
	display: grid;
	grid-template-columns: repeat(4, 3.5em);
	grid-template-rows: repeat(2, 3.5em);
	order: 11;
	margin-top:1em;
}

/* Opmaak van aftelklok per onderdeel */
main section:nth-of-type(5) section p {
	margin: 0;
	background-color: var(--color-tabel-achtergrondDonker);
	width: 100%;
}

/* opmaak en plaatsing a wedstrijdinformatie */
main section:nth-of-type(5) a {
	order: 11;
	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
	padding: 6%;
	margin-top: 1em;
	margin-bottom: 1em;
}


/*agenda komende twee weken*/
main > section:nth-of-type(6){
/* plaats op main grid grootscherm*/
grid-column-start: 2;
grid-column-end: 2;
grid-row-start: 6;
grid-row-end: 14; 
}

main > section:nth-of-type(6) > ul{
	padding:0;
	margin-bottom: 1em;
}

main > section:nth-of-type(6) > ul > li {
	display: grid;
	grid-template-columns: 4.05em 4.05em auto;
	grid-template-rows: repeat(2, 3.7em);
	column-gap: 0.5em;
	row-gap: 0.2em;

	border-bottom: solid;
	border-color: var(--color-border);
	padding-bottom: 1em;
	padding-top: 1em;

}

main > section:nth-of-type(6) > ul > li > h3 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;

	color: var(--color-text);
}

main > section:nth-of-type(6) > ul > li p {
	color: var(--color-text);
}

main > section:nth-of-type(6) > ul > li > p:first-of-type {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

main > section:nth-of-type(6) > ul > li > p:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;

	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0;
	padding-top: 1em;
}
/* Linear gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/linear-gradient */
main > section:nth-of-type(6) > ul > li > p:nth-of-type(3) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;

	padding-top: 1.2em;
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
	color: var(--color-text);
	background: linear-gradient(0.5turn, var(--color-tabel-achtergrondDonker), var(--color-tabel-achtergrondLicht), var(--color-tabel-achtergrondDonker));
}

/* verjaardagen*/
main > section:nth-of-type(7){
	/* plaats op main grid grootscherm*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 14;
	grid-row-end: 15;
}

main > section:nth-of-type(7) > ul {
	display: flex;
	padding: 0;
	
}

main > section:nth-of-type(7) > ul > li >ul{
	padding: 0;
	height: 16em;
}

main > section:nth-of-type(7) > ul > li > ul > li{
	width: 10em;
	padding: 2%;
} 

main > section:nth-of-type(7) > ul > li > ul li:first-of-type {
	background-color: var(--color-tabel-achtergrondHeading);
	color: var(--color-text);
	font-weight: 700;
	width:8.8em;
}

main > section:nth-of-type(7) > ul > li > ul li:nth-child(2n) {
	background-color: var(--color-tabel-achtergrondLicht);
	color: var(--color-text);
	
}

main > section:nth-of-type(7) > ul > li > ul li:nth-child(2n + 1) {
	background-color: var(--color-tabel-achtergrondDonker);
	color: var(--color-text);
	
}


/* Nieuwsberichten en verslagen */
main > section:nth-of-type(8){
	/* plaats op main grid grootscherm*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 16;
	grid-row-end: 21;
}

main section:nth-of-type(8) > h2:first-of-type {
	display: block;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 3em;
	margin-left: 1em;
	margin-left: 1em;
}

main > section:nth-of-type(8) > ul > li > a {
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(2, 3.7em);
	column-gap: 1em;
	border-bottom: solid;
	border-color: var(--color-border);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom */

}
main > section:nth-of-type(8) > ul > li > a:focus{
	border-color: var(--color-focus);
}

main > section:nth-of-type(8) > ul > li > a > img {
	/*als flex kind*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	max-width: 8.1em;
	max-height: 8.1em;
	padding-top: 0.8em;
}

main > section:nth-of-type(8) > ul > li > a > h3 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

main > section:nth-of-type(8) > ul > li > a > p:first-of-type {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

main > section:nth-of-type(8) > ul > li > a > p:nth-of-type(2) {
	visibility: visible;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
} 


/* Sponsoren */
main > section:nth-of-type(9){
	/* plaats op main grid grootscherm*/
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 21;
	grid-row-end: 23;
}
/* Afbeeldingen (li) naast elkaar plaatsen + scrollbaar*/
main > section:nth-of-type(9) > ul {
	display: flex;
	align-items: center;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Zorgen dat als je stopt met scrollen. Hij de afbeelding in het midden zet */
main > section:nth-of-type(9) > ul > li {
	/*als flex kind*/
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: center;

	/*als flex parent*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

main > section:nth-of-type(9) > ul > li > img {
	max-width: 70%;
	max-height:30em;
}


footer {
	background-color: var(--color-donkerblauw);
	padding-top: 1%;
	padding-left: 2%;
}

footer img{
	width:50%;
}

footer ul {
	margin-bottom: 5%;
}
footer h3{
	color: var(--color-achtergrondHeading);
}

footer a{
	color: var(--color-achtergrondHeading);
}

/* Wanneer het scherm kleiner wordt en de content niet meer past */

@media (min-width:43em) {
	main > ul > li > a {
		display: grid;
		grid-template-columns: 8.1em auto;
		grid-template-rows: repeat(2, 2.7em);
		column-gap: 1em;

	}

	main > ul > li > a > img {
		/*als flex kind*/
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 3;
		min-width: 15%;
		padding-top: 0.8em;
	}

	main > ul > li > a > h3 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	main > ul > li > a > p:first-of-type {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	main > ul > li > a > p:nth-of-type(2) {
		visibility: visible;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
	}
	main > section:first-of-type ul > li > a > p:nth-of-type(2) {
		visibility: visible;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;

	}
}