/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/**************/
/* Kleuren website */
/**************/
/* 	#020659 Donkerblauw
	#033F73 Donker blauw tekst
	#92BE23	Groen in logo > evt focus kleur
	#0092D8	Lichtblauw > Active
	#F2F2F2 Wit > achtergrond*/


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-text-heading: white;
	--color-background: #eee;
	--color-donkerblauw: #020659;
	--color-active: #0092D8;
	--color-border: grey;
	--color-tabel-achtergrondHeading: #E6E6E6;
	--color-tabel-achtergrondDonker: #E6E6E6;
	--color-tabel-achtergrondLicht: #F9F9F9;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text-heading);
	font-family: Arial, Helvetica, sans-serif;

}

main {
	padding: 0;
}

p {
	font-size: 0, 6em;
}

h2 {
	font-size: 1em;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body>header {
	width: 100%;
}

body img {
	max-width: 100%;
}

/* Carousel header: Opmaak en positioneren buttons*/
header section:nth-of-type(1) {
	position: relative;
	padding: 0;
}

header section:nth-of-type(1) button {
	position: absolute;
	appearance: none;
	border: none;
	background-color: transparent;
}

header section:nth-of-type(1) button:nth-of-type(1) {
	left: 0;
	top: 50%;
	transform: translateX(1em) rotate(0deg);
}

header section:nth-of-type(1) button:nth-of-type(2) {
	right: 0;
	top: 50%;
	transform: translateX(-1em) rotate(180deg);
}

button div {
	width: 1.5em;
	height: 1.5em;
	box-shadow: inset .25em -.25em 0 white;
	transform: translateX(.25em) rotate(45deg);
}

header section:nth-of-type(1) button:nth-of-type(3){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:44%
  }
  header section:nth-of-type(1) button:nth-of-type(4){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:48%
  }
  header section:nth-of-type(1) button:nth-of-type(5){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:52%
  }
  header section:nth-of-type(1) button:nth-of-type(6){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:56%
  }
  
/* Carousel header: opmaak foto's en overflow */
body>header>section:nth-of-type(1)>ul {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
	list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
}

body>header>section:nth-of-type(1)>ul>li {
	/*als flex kind*/
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: center;

	/*als flex parent*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

body>header>section:nth-of-type(1)>ul>li>img {
	width: 100%;
	max-height: 30em;
}

/* Header navigatiebalk positie logo en navigatie*/
header section:nth-of-type(2) {
	min-height: 4em;
	padding: 0 1em;
	background-color: var(--color-donkerblauw);
	line-height: 1;

	/*Als flex parent*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;



}

/* Opmaak alle links in de header */
header section:nth-of-type(2) nav a {
	padding: .5em;
	color: var(--color-text-heading);
	text-decoration: none;
	padding: 1em;
}

header section:nth-of-type(2) a:hover {
	background-color: var(--color-active);
}


/* Grootte logo */
header section:nth-of-type(2)>a:first-of-type img {
	min-width: 5em;
	min-height: 5em;
}

/* Hamburger Menu grootte */
header section:nth-of-type(2)>a:last-of-type img {
	width: auto;
	height: 2em;
}


/* Navigatie menu */
nav {
	order: 2;

}

nav button {
	padding: .5em;
	appearance: none;
	background-color: var(--color-donkerblauw);
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--color-text-heading);

	z-index: 100;
	position: relative;
}


nav.toonMenu button img {
	content: url(https://assets.codepen.io/274456/ui-icon-cross.svg);

}


nav ul {
	margin: 0;
	padding: 4em 1em 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	gap: 0, 25em;
	align-content: start;

	background: var(--color-donkerblauw);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transform: translateX(100%);

}

/* als menu open is */
nav.toonMenu ul {
	transform: translateX(0%);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

nav li {
	flex-basis: 9em;
	flex-grow: 1;
	max-height: 3em;
	border-top-color: var(--color-active);

}

nav li:first-of-type {
	background-color: var(--color-active);

}

/* Een linkje in de navigatie */
nav a {
	/* icon en tekst met gap-je naast elkaar */
	width: 100%;
	border: solid 1px var(--menu-border);
}

nav a.active {
	font-weight: bold;
}


@media (min-width:58em) {
	nav {
		order: 0;

	}

	nav button {
		display: none;
	}

	nav ul {
		position: static;
		transform: none;
		padding: 0;
		background: none;
		display:flex;
		gap:1em;
		
		margin:0;
		padding:0;
		list-style:none;
	}

	nav li {

		flex-basis: unset;
		flex-grow: unset;

	}

	nav a {
		flex-direction: column;

	}
	
	ul ul {
		display: flex;
		flex-direction: column;
		max-height:0;
		overflow:hidden;
		
		transition:1s;
	}
	
	ul ul.open {
		max-height:5em;
	}
}