/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/**************/
/* Kleuren website */
/**************/
/* 	#020659 Donkerblauw
	#033F73 Donker blauw tekst
	#92BE23	Groen in logo > evt focus kleur
	#0092D8	Lichtblauw > Active
	#F2F2F2 Wit > achtergrond*/


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-text-heading: white;
	--color-background: #eee;
	--color-donkerblauw: #020659;
	--color-active: #0092D8;
	--color-border: grey;
	--color-tabel-achtergrondHeading: #E6E6E6;
	--color-tabel-achtergrondDonker: #E6E6E6;
	--color-tabel-achtergrondLicht: #F9F9F9;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	margin: 0;
	background-color: var(--color-background);
	color: var(--color-text-heading);
	font-family: Arial, Helvetica, sans-serif;

}

main {
	padding: 0;
}

p {
	font-size: 0, 6em;
}

h2 {
	font-size: 1em;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

body>header {
	width: 100%;
}

body img {
	max-width: 100%;
}

/* Carousel header: Opmaak en positioneren buttons*/
header section:nth-of-type(1) {
	position: relative;
	padding: 0;
}

header section:nth-of-type(1) button {
	position: absolute;
	appearance: none;
	border: none;
	background-color: transparent;
}

header section:nth-of-type(1) button:nth-of-type(1) {
	left: 0;
	top: 50%;
	transform: translateX(1em) rotate(0deg);
}

header section:nth-of-type(1) button:nth-of-type(2) {
	right: 0;
	top: 50%;
	transform: translateX(-1em) rotate(180deg);
}

button div {
	width: 1.5em;
	height: 1.5em;
	box-shadow: inset .25em -.25em 0 white;
	transform: translateX(.25em) rotate(45deg);
}

header section:nth-of-type(1) button:nth-of-type(3){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:44%
  }
  header section:nth-of-type(1) button:nth-of-type(4){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:48%
  }
  header section:nth-of-type(1) button:nth-of-type(5){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:52%
  }
  header section:nth-of-type(1) button:nth-of-type(6){
	width: 1.5em;
	height: 1.5em;
	border-radius: .5em;
	border:solid;
	border-color: white;
	background-color: lightgray;
	top:90%;
	left:56%
  }
  
/* Carousel header: opmaak foto's en overflow */
body>header>section:nth-of-type(1)>ul {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior: contain;
	list-style: none;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
}

body>header>section:nth-of-type(1)>ul>li {
	/*als flex kind*/
	flex-shrink: 0;
	flex-basis: 100%;
	scroll-snap-align: center;

	/*als flex parent*/
	display: flex;
	flex-direction: column;
	align-items: center;

}

body>header>section:nth-of-type(1)>ul>li>img {
	width: 100%;
	max-height: 30em;
}

/* Header navigatiebalk positie logo en navigatie*/
header section:nth-of-type(2) {
	min-height: 4em;
	padding: 0 1em;
	background-color: var(--color-donkerblauw);
	line-height: 1;

	/*Als flex parent*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;



}

/* Opmaak alle links in de header */
header section:nth-of-type(2) nav a {
	padding: .5em;
	color: var(--color-text-heading);
	text-decoration: none;
	padding: 1em;
}

header section:nth-of-type(2) a:hover {
	background-color: var(--color-active);
}


/* Grootte logo */
header section:nth-of-type(2)>a:first-of-type img {
	min-width: 5em;
	min-height: 5em;
}

/* Hamburger Menu grootte */
header section:nth-of-type(2)>a:last-of-type img {
	width: auto;
	height: 2em;
}


/* Navigatie menu */
nav {
	order: 2;

}

nav button {
	padding: .5em;
	appearance: none;
	background-color: var(--color-donkerblauw);
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--color-text-heading);

	z-index: 100;
	position: relative;
}


nav.toonMenu button img {
	content: url(https://assets.codepen.io/274456/ui-icon-cross.svg);

}


nav>ul {
	margin: 0;
	padding: 4em 1em 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	gap: 0, 25em;
	align-content: start;

	background: var(--color-donkerblauw);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	transform: translateX(100%);

}

/* als menu open is */
nav.toonMenu ul {
	transform: translateX(0%);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

nav li {
	flex-basis: 9em;
	flex-grow: 1;
	max-height: 3em;
	border-top-color: var(--color-active);

}

nav li:first-of-type {
	background-color: var(--color-active);

}

/* Een linkje in de navigatie */
nav li button {
	/* icon en tekst met gap-je naast elkaar */
	width: 100%;
	border: solid 1px var(--menu-border);
}

nav button.active {
	font-weight: bold;
}



/* Eerste sectie (Mededelingen)*/
body>main>ul:nth-of-type(1) {
	/*als flex parent*/
	display: flex;
	max-height: 30em;
	flex-direction: column;
	margin-left: 2em;
	list-style: none;
	padding: 0.5em;

}

body>main>ul>li {
	margin-bottom: 1em;
	margin-top: 1em;
	max-width: 40em;

}

body>main>ul>li>a {
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(2, 5.4em);
	column-gap: 1em;
}

body>main>ul>li>a:link {
	color: var(--color-text);
	text-decoration: none;
}

body>main>ul>li>a>p h2 {
	color: var(--color-text);
}

body>main>ul>li>a>img {
	/*als flex kind*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	max-width: 8.1em;
	max-height: 8.1em;
}

body>main>ul>li>a>h2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

body>main>ul>li>a>p:nth-of-type(1) {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

body>main>ul>li>a>p:nth-of-type(2) {
	visibility: hidden;
}


/*section nieuwsberichten*/

main section>h2:nth-of-type(1) {
	display: block;
	background-color: var(--color-donkerblauw);
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 3em;
	margin-left: 1em;
	margin-left: 1em;
}

main>section>ul>li>a {
	display: grid;
	grid-template-columns: 8.1em auto;
	grid-template-rows: repeat(3, 3.7em);
	column-gap: 1em;

}

main>section>ul>li>a>img {
	/*als flex kind*/
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	max-width: 8.1em;
	max-height: 8.1em;
	padding-top: 0.8em;
}

main>section>ul>li>a>h2 {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

main>section>ul>li>a>p:nth-of-type(1) {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

main>section>ul>li>a>p:nth-of-type(2) {
	visibility: visible;
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 3;
}

/*section wedstrijdverslagen*/
main section:nth-of-type(2) p:nth-of-type(2) {
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
	margin-right: 1.5em;
	padding-bottom: 2em;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
}

/* naar volgende pagina buttons*/
main section section {
	display: flex;
	justify-content: center;
	align-items: center;
}

main section section p {
	color: var(--color-text);
	margin-right: 1em;
}

main section section button {
	color: var(--color-text-heading);
	background-color: var(--color-donkerblauw);
	max-height: 3em;
}

/*corona maatregelen*/
main section:nth-of-type(3) {
	background-color: var(--color-donkerblauw);
	margin-top: 5%;
}

main section:nth-of-type(3) a {
	text-decoration: none;
	color: var(--color-text-heading);
	padding: 5px;
	flex-direction: column;
	align-items: center;
	display: flex;
}

main section:nth-of-type(3) a h2 {
	color: var(--color-text-heading);
	text-align: center;
}

main section:nth-of-type(3) img {
	max-width: 100%;
	order: -2;
}

/*sponsoren*/
main section:nth-of-type(4) {
	background-color: var(--color-donkerblauw);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
}

/*lid worden*/
main>a>h2 {
	color: var(--color-text-heading);
	background-color: var(--color-donkerblauw);
	text-align: center;
	padding: 2%;
	margin-left: 5%;
	margin-right: 5%;
}

/* Eerst volgende wedstrijd */
main section:nth-of-type(5) {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main section:nth-of-type(5) h2 {
	order: 1;
}

main section:nth-of-type(5) p {
	color: var(--color-text);
}

main section:nth-of-type(5)>p:nth-of-type(1) {
	order: 2;
}

main section:nth-of-type(5)>p:nth-of-type(2) {
	order: 3;
}

main section:nth-of-type(5)>p:nth-of-type(3) {
	order: 5;
}

main section:nth-of-type(5)>p:nth-of-type(4) {
	order: 6;
}

main section:nth-of-type(5)>p:nth-of-type(5) {
	order: 7
}

main section:nth-of-type(5)>p:nth-of-type(6) {
	order: 9
}

main section:nth-of-type(5)>p:nth-of-type(7) {
	order: 10
}

main section:nth-of-type(5) img:nth-of-type(1) {
	order: 4;
}

main section:nth-of-type(5) img:nth-of-type(2) {
	order: 8;
}

main section:nth-of-type(5) section{
	display: grid;
	grid-template-columns: repeat(4, 3.5em);
	grid-template-rows: repeat(2, 3.5em);
	order: 11;
}
main section:nth-of-type(5) section p{
	margin:0;
}

main section:nth-of-type(5) a {
	order: 11;
	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
	padding: 1em
}

/*agenda komende twee weken*/
main>section:nth-of-type(6)>ul>li {
	display: grid;
	grid-template-columns: 4.05em 4.05em auto;
	grid-template-rows: repeat(3, 3.7em);
	column-gap: 1em;

}

main>section:nth-of-type(6)>ul>li>h2 {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
	color: var(--color-text);
}

main>section:nth-of-type(6)>ul>li p {
	color: var(--color-text);
}

main>section:nth-of-type(6)>ul>li>p:nth-of-type(1) {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

main>section:nth-of-type(6)>ul>li>p:nth-of-type(2) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	background-color: var(--color-donkerblauw);
	color: var(--color-text-heading);
	text-align: center;
	margin: 0;
	padding-top: 1em;
}

main>section:nth-of-type(6)>ul>li>p:nth-of-type(3) {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;
	text-align: center;
	border: solid;
	border-color: var(--color-border);

}

/* verjaardagen*/
main>section:nth-of-type(7)>ul {
	display: flex;
}

main>section:nth-of-type(7)>ul>li>ul li:nth-child(2n) {
	background-color: var(--color-tabel-achtergrondLicht);
	color: var(--color-text);
}

main>section:nth-of-type(7)>ul>li>ul li:nth-child(2n + 1) {
	background-color: var(--color-tabel-achtergrondDonker);
	color: var(--color-text);
}

main>section:nth-of-type(7)>ul>li>ul li:first-of-type {
	background-color: var(--color-tabel-achtergrondHeading);
	color: var(--color-text);
	font-weight: 700;
}

main>section:nth-of-type(9)>ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	padding: 0;
}

footer {
	background-color: var(--color-donkerblauw);
	padding-top: 1%;
	padding-left: 2%;
}

footer ul {
	margin-bottom: 15%;
}

/****************************************************************/
/* styling voor de header als de browser minimaal 40em breed is */
/****************************************************************/
@media (min-width:58em) {
	nav {
		order: 0;

	}

	nav>button {
		display: none;


	}

	nav>ul {
		position: static;
		transform: none;
		padding: 0;
		background: none;

	}

	nav li {
		flex-basis: unset;
		flex-grow: unset;

	}

	nav a {
		flex-direction: column;

	}
}

@media (min-width:43em) {
	body>main>ul>li>a {
		display: grid;
		grid-template-columns: 8.1em auto;
		grid-template-rows: repeat(2, 2.7em);
		column-gap: 1em;

	}

	body>main>ul>li>a>img {
		/*als flex kind*/
		grid-column-start: 1;
		grid-column-end: 1;
		grid-row-start: 1;
		grid-row-end: 3;
		min-width: 15%;
		padding-top: 0.8em;
	}

	body>main>ul>li>a>h2 {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 1;
	}

	body>main>ul>li>a>p:nth-of-type(1) {
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	body>main>ul>li>a>p:nth-of-type(2) {
		visibility: visible;
		grid-column-start: 2;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 3;
	}


}